/* Define font imports at the beginning for better organization */
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script&family=Delius+Unicase:wght@700&family=Inter:wght@700;800&family=Outfit:wght@400;700&family=Poltawski+Nowy:wght@500&family=Roboto:wght@300;400;500;700&display=swap");

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* Define root-level CSS variables for consistent theming */
:root {
  --main-bg: #8cc461;
  --rock-circle: #0074b6;
  --paper-circle: #ffa943;
  --scissors-circle: #bd00ff;
  --rules-bg: #004429;
}

/* Apply styles to the entire body */
body {
  background: var(--main-bg);
  min-height: 100vh;
  letter-spacing: 0.1rem;
  overflow: hidden;
}

/* Styles for the wrapper that contains the game */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
} 

/* Styles for the header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 13px;
  border: 2px solid #fff;
  height: 10rem;
  width: 50%;
  margin-top: 4rem;
}

/* Styles for the game name in the header */
.game_name {
  text-transform: uppercase;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 550;
  padding-left: 1rem;
  flex-grow: 1;
  filter: drop-shadow(5px 1px 1px black);
}

/* Styles for the computer and user scores */
.computer_score,
.your_score {
  width: 8rem;
  background: #fff;
  border-radius: 9px;
  text-transform: uppercase;
  margin-right: 1rem;
  text-align: center;
  filter: drop-shadow(4px 4px 4px black);
}

.computer_score > p,
.your_score > p {
  color: #656565;
  font-weight: 550;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

#score_pc,
#score_user {
  color: #252525;
  font-size: 3.8rem;
  font-weight: 700;
}

input {
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  position: relative;
  bottom: 5px;
}

/* Styles for the play area */
.play_area {
  position: fixed;
  top: 50%;
}

/* Styles for the back lines in play area */
.line {
  width: 300px;
  border: 6px solid rgba(0, 0, 0, 0.64);
}

.left_line {
  position: relative;
  right: 81px;
  top: 151px;
  transform: rotate(60deg);
}

.right_line {
  position: relative;
  top: 163px;
  left: 80px;
  transform: rotate(120deg);
}

/* Styles for the choice buttons */
.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  background-color: #ffff;
  border-radius: 50%;
  filter: drop-shadow(-1px 0 8px rgba(0, 0, 0, 0.35));
  box-shadow: 3px 0px 21px 1px rgba(0, 0, 0, 0.20) inset;
}

.rock_border {
  border: 15px solid var(--rock-circle);
}
.paper_border {
  border: 15px solid var(--paper-circle);
}
.scissors_border {
  border: 15px solid var(--scissors-circle);
}

/* Position choice buttons */
#rock_position {
  position: relative;
  bottom: 5rem;
  right: 4rem;
}

#paper_position {
  position: relative;
  top: 1rem;
  left: 5rem;
}

#scissors_position {
  position: relative;
  bottom: 22.6rem;
  left: 14rem;
}

/* Styles for Rules & Next buttons */
.buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.btn {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 450;
  letter-spacing: 0.1rem;
  margin-left: 2.5rem;
}

.btn:hover {
  cursor: pointer;
  background: #fff;
  color: #6b6b6b;
  filter: drop-shadow(5px 5px 3px black);
}

/* Styles for choice buttons on hover */
.choice_buttons > button > img:hover {
  scale: 1.2;
}

.choice_buttons > button:first-of-type:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px var(--rock-circle));
}

.choice_buttons > button:last-of-type:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px var(--scissors-circle));
}

.choice_buttons > button:nth-child(2):hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px var(--paper-circle));
}

/* Styles for the cross button that closes the rules portion of the game */
.hide {
  position: relative;
  left: 14.7rem;
  top: -3.2rem;
  height: 50px;
  width: 50px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background: #ff0000;
  transition: all ease-in-out 0.5s;
}

.hide:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 4px red);
}

.cross_1 {
  position: relative;
  display: inline-block;
  background-color: #fff;
  height: 30px;
  width: 6px;
  border-radius: 15px;
  top: 5px;
  left: 17px;
  rotate: 45deg;
}

.cross_2 {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 6px;
  border-radius: 15px;
  background-color: #fff;
  top: 5px;
  left: 6px;
  rotate: -45deg;
}

/* Styles for the game rules section */
.game_rules {
  position: absolute;
  right: 3rem;
  bottom: 5.3rem;
  border-radius: 13px;
  border: 7px solid #fff;
  background: var(--rules-bg);
  max-width: 295px;
  color: #fff;
  padding: 1.4rem;
  display: none;
  z-index: 2;
}

.game_rules > h3 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  margin-top: -3.5rem;
}

li::marker {
  color: #FFD600;
  font-size: 16px;
}

.rules_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0.8rem;
}

.rules_list > li {
  list-style-type: square;
  font-size: 0.829rem;
  letter-spacing: 0.002rem;
  font-weight: 400;
}

/* Styles for the result section */
.play_result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.user, .pc {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(6px 1px 5px #004429);
  box-shadow: 3px 0px 21px 1px rgba(0, 0, 0, 0.20) inset;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
}

/* Styles for result which shows if you "lost" or "won" the game "Against PC" */
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem -1rem 0rem -1rem;
  width: 13.8rem;
  z-index: 1;
}

.middle .hint_1 {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  filter: drop-shadow(5px 1px 2px #004429);
}

.middle .hint_2 {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  filter: drop-shadow(1px 0px 2px red);
}

/* Styles for the background rings/circle of user and PC */
.user_ring_1, .pc_ring_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66b248;
  border-radius: 50%;
  height: 345px;
  width: 345px;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.13);
}

.user_ring_2, .pc_ring_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32a62f;
  border-radius: 50%;
  height: 305px;
  width: 305px;
  box-shadow: 0 1px -35px rgba(0, 0, 0, 0.13);
}

.user_ring_3, .pc_ring_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(39 154 39);
  border-radius: 50%;
  height: 260px;
  width: 260px;
  box-shadow: 0 1px -35px rgba(0, 0, 0, 0.13);
}

.user_ring_3 > p, .pc_ring_3 > p {
  color: #fff;
  position: relative;
  bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
}

/* Styles for play again buttons */
.middle .play_again, .play_again_hurray {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #fff;
  color: #6b6b6b;
  min-height: 2.6rem;
  width: 10rem;
  border: none;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  position: relative;
  top: 1rem;
}

.play_again:hover, .play_again_hurray:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 3px black);
  color: #004429;
}

/* Styles for the play again button in the Celebration/HURRAY! section */
.play_again_hurray {
  position: relative;
  top: -6rem;
  font-size: 1rem;
  border: 2px solid transparent;
  animation: border-pulse 2s ease-in-out infinite;
}

.play_again_hurray:hover {
  border-image: linear-gradient(to right, #f00, #0f0, #00f);
  border-image-slice: 1;
  animation: none;
}

#next_btn {
  display: none;
}

/* Styles for the Celebration/HURRAY!! section */
.celebration {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  display: none;
}

/* Styles for the "Hurray" text */
.hurray {
  color: #fff;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.7rem;
  position: relative;
  bottom: 10rem;
}

/* Styles for the "You Won The Game" text */
.won {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  position: relative;
  bottom: 9.2rem;
}

#trophy {
  position: relative;
  bottom: 12rem;
}


/* Keyframe animation for sliding */
@keyframes slide {
  0% {
    right: 2rem;
  }
  100% {
    right: 3rem;
  }
}

/* Keyframe animation for play button in hurray page */
@keyframes  border-pulse {
  0% {
    border-color: #f00;
  }
  50% {
    border-color: #bd00ff;
  }
  100% {
    border-color: #00f;
  }
}

/* Media query for screens with a max width of 1124px */
@media screen and (max-width: 1124px) {
  .header {
    width: 70%; 
  }
}

/* Media query for screens with a max width of 690px --> CODE FOR MOBILE SIZE (more suitable with iphones )  */
@media screen and (max-width: 690px) {
  body{
    background-color: #5ea29c;
  }

  .game_name {
    font-size: 1.3rem;
    filter: drop-shadow(2px 0px 0px black);
    padding-left: 0.5rem;
    font-weight: 450;
  }

  .header {
    width: 90vw;
    height: 6rem;
    position: fixed;
    filter: drop-shadow(2px 2px 2px black);
  }

  #score_pc, #score_user {
    font-size: 1.5rem;
  }

  .computer_score > p, .your_score > p {
    font-size: 0.75rem;
  }

  .computer_score, .your_score {
    width: 6rem;
    margin-right: 0.6rem;
    filter: invert(0);
  }

  .line {
    width: 150px;
  }

  .right_line {
    top: 6.1rem;
    left: 2.7rem;
  }

  .left_line  {
    top: 5.39rem;
    left: -2.7rem;
  }

  .choice {
    height: 6rem;
    width: 6rem;
  }

  .rock_border {
    border: 7px solid var(--rock-circle);
  }

  .paper_border {
    border: 7px solid var(--paper-circle);
  }

  .scissors_border {
    border: 7px solid var(--scissors-circle);
  }

  #rock_position {
    bottom: 4rem;
  }

  #paper_position {
    left: 1.6rem;
    top: -0.5rem;
  }

  #scissors_position {
    bottom: 16rem;
    left: 7rem;
  }

  .middle {
    margin: 0rem -6rem 0rem -6rem;
    margin-top: 37vh;
  }

  .middle > .hint_1 {
    font-size: 2.3rem;
  }

  .middle .play_again {
    min-height: 1.8rem;
    width: 6.2rem;
    font-size: 0.7rem;
    filter: drop-shadow(2px 2px 2px black);
    color: #000;
  }

  .user, .pc {
    width: 91px;
  }

  .user_ring_3, .pc_ring_3 {
    height: 130px;
    width: 130px;
    background-color: #285f5f;
  }

  .user_ring_2, .pc_ring_2 {
    height: 160px;
    width: 160px;
    background-color: #3a7570;
  }

  .user_ring_1, .pc_ring_1 {
    height: 175px;
    width: 175px;
    background-color: #4c8b81;
  }

  .user_ring_3 > p, .pc_ring_3 > p {
    font-size: 1rem;
  }

  #user_img, #pc_img {
    width: 30px;
  }

  .game_rules {
    background: #285f5f;
  } 

  .btn {
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
    margin-left: 1rem;
    background: #fff;
    color: #000;
    filter: drop-shadow(2px 2px 2px black);
  }

  .hurray {
    font-size: 3rem;
  }

  .won {
    font-size: 1.7rem;
  }

  #stars {
    width: 410px;
  }

}
